.carrousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagenes{
    width: 100%;
    height: 100vh;
    background-image: url(img/imagen1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flecha{
    margin: 1.5rem;
    font-size: 2.25rem;
    color: white;
}

.fas:hover{
    cursor: pointer;
}
.fantasma{
    display: none;
}
.posicion{
    display: flex;
    justify-content: center;
    margin-top: -1.75rem;
}
.puntoSelecionado{
    font-weight: bold;
}
.puntos{
    color: white;
}
#punto2{
    margin-left: 1rem;
    margin-right: 1rem;
}